.footer_outer_container {
  background-color: #111;
  color: gray;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.footer_inner_container {
  width: 70%;
  /* background-color: red; */
}
.footer_icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
}
.footer_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}
.footer_data ul li {
  margin-right: 20px;
  cursor: pointer;
}
.service_code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #fff 1px solid;
  width: 12%;
  margin: 10px 0;
  list-style: none;
  cursor: pointer;
}
.copy_right {
  font-size: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
